

.header {
    height: 60px;
    width: 100%;
    background: #113B63;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}


.footer {
    height: 40px;
    background: #1C344A;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.logo {
    color: white;
    font-family: Roboto;
    margin-top: 18px;
    margin-left: 18px;
    font-weight: 100;
    letter-spacing: 1px;
}



.mainContent {
    margin-top: 106px;
}

#content{
  top:0;
  right: 0;
}
#warpfield{

  position:absolute;
  top:0px;
  left:0;
  width:100%;
  height:100%;
  z-index:-100;

}
.hyper {
  display: block
  height: 150px;
  width: 200px;
  float: left;
  margin: 10px;
}

.hyperTitle{
  position: absolute;
  z-index: 5;
  top:0;
  left:0;

}
.hyperUrl{
  position: absolute;
  z-index: 4;
  top:50px;
  left:0;
}
.hyperDescription{
  position: absolute;
  z-index: 3;
  bottom:0;
  left:0;

}
.hyperImage{

}
.editHyper{
  z-index: 1;
  position: relative;
  float:right;
  top:0;
  left:0;
}
.bored-knob{
  z-index: 100;
  position: fixed;
  top: 80px;
  right: -10px;
  opacity: .2;
}
.list-knob{
  z-index: 100;
  position: fixed;
  top: -10px;
  right: -10px;
  opacity: .2;
}
.knob{
  opacity: .2;
}
.logout-knob{
  opacity: .2;
  margin-left: auto;
  margin-right: auto;
}
.friendList-knob{
  z-index: 100;
  position: fixed;
  top: -10px;
  right: 20px;
  opacity: .2;
}
.hyper-knob{
  z-index: 100;
  position: fixed;
  top: 55px;
  right: -10px;
  opacity: .2;
}
.create-knob{
  z-index: 100;
  position: fixed;
  top:22px;
  right:-11px;
  opacity: .2;
}
.knob-title{
  color:white;
  font-size: 10px;
}
.side-menu{
  position: fixed;
  top:50px;
  right: 100px;
  width:200px;
  height: 400px;

}
.side-menu-title{
  width: 100%;
  height: 100%;
}
.side-menu-search-container{
  width:100%;
  height: 50%;
}
.side-menu-category-list{
  width:50%;
  height: 50%;
  text-align: right;
}
.blank{
  display: none;
}
.side-menu-text-box{
  width:100%;
  height: 20%;
}
.side-menu-link{
  width: 100%;
  height: 20%;
}
.side-menu-category{
  width: 100%;
  height: 20%;
}
.category-table{
  width: 100%;
  height: 100%;
}
.loginPaper{
  height: 400px;
  width: 400px;

  margin: auto;

  text-align: 'center';
  display: 'flex';
  align-content: 'center';
}
/*.loginHome{
  background-image: url(http://www.space.com/images/i/000/023/368/original/mimas-tiny-saturn.jpg?interpolation=lanczos-none&downsize=*:1000);
}*/
.dashboardPaperContainer{
  display:flex;
  justify-content: space-around;

}

.logIn input {
    height: 55px !important;
    font-size: 18px;
    width: 100%;
    border-radius: 4px;
    outline: 0;
    text-align: center;
    margin-bottom: 16px;
    border: none;
}

.logIn {
    width: 400px;
    margin: 0 auto;
}

.dashboardPaperL{
  height: 400px;
  width: 400px;
  

  display:inline;

}
.dashboardPaperR{
  height: 400px;
  width: 400px;

  display:inline;
}

.categoryPageContainer{
  height: 400px;
  background-image: url(/../../assets/catbackground.jpg);
  background-size: 100%;
}

.hyperImage {
    height: 200px;
}

span.addNew div {
    background: #d5dbe6;
}

input#undefined-EnterNewCategory-NewCategory-39016 {
    font-weight: bolder !important;
}

button.logIn {
    height: 55px;
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background: #165690;
    display: inline-block;
    padding: 10px 20px;
    outline: 0;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

button.signUp {
    height: 55px;
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background: #6089B1;
    display: inline-block;
    padding: 10px 20px;
    outline: 0;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
    width: 50%;
    float: right;
}



.gradient1 {
     
              background: #16A085;
              background: -webkit-linear-gradient(to left, #16A085 , #F4D03F );
              background: linear-gradient(to left, #16A085 , #F4D03F );
}

.gradient2 {


background: #673AB7; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #673AB7 , #512DA8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #673AB7 , #512DA8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient3 {


background: #EFEFBB; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #EFEFBB , #D4D3DD); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EFEFBB , #D4D3DD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient4 {


background: #c21500; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #c21500 , #ffc500); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #c21500 , #ffc500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient5 {


background: #EC6F66; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #EC6F66 , #F3A183); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EC6F66 , #F3A183); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient6 {


background: #5f2c82; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #5f2c82 , #49a09d); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #5f2c82 , #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient7 {


background: #C04848; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #C04848 , #480048); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #C04848 , #480048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient8 {


background: #e43a15; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #e43a15 , #e65245); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #e43a15 , #e65245); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient9 {


background: #4b6cb7; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4b6cb7 , #182848); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4b6cb7 , #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient10 {


background: #d53369; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #d53369 , #cbad6d); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #d53369 , #cbad6d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient11 {


background: #DE6262; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #DE6262 , #FFB88C); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #DE6262 , #FFB88C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient12 {


background: #EFEFBB; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #EFEFBB , #D4D3DD); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EFEFBB , #D4D3DD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient13 {


background: #c21500; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #c21500 , #ffc500); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #c21500 , #ffc500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient14 {


background: #f46b45; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #f46b45 , #eea849); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #f46b45 , #eea849); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient15 {


background: #005C97; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #005C97 , #363795); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #005C97 , #363795); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient16 {


background: #fc00ff; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #fc00ff , #00dbde); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient17 {


background: #2c3e50; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2c3e50 , #3498db); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2c3e50 , #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient18 {


background: #304352; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #304352 , #d7d2cc); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #304352 , #d7d2cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.gradient19 {



background: #ED4264; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ED4264 , #FFEDBC); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ED4264 , #FFEDBC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient20 {


background: #24C6DC; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #24C6DC , #514A9D); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #24C6DC , #514A9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient21 {



background: #283048; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #283048 , #859398); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #283048 , #859398); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient22 {



background: #3D7EAA; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #3D7EAA , #FFE47A); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #3D7EAA , #FFE47A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient23 {




background: #757F9A; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #757F9A , #D7DDE8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #757F9A , #D7DDE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
             
}
.gradient24 {



background: #5C258D; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #5C258D , #4389A2); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #5C258D , #4389A2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient25 {



background: #2BC0E4; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2BC0E4 , #EAECC6); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2BC0E4 , #EAECC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          
}