#content{
  top:0;
  right: 0;
}
.hyper{
  display: block; 
  height: 100px;
  width: 100px;
  float:left;
  margin: 10px 10px 10px 10px;
}

.hyperTitle{
  position: absolute;
  z-index: 5;
  top:0;
  left:0;

}
.hyperUrl{
  position: absolute;
  z-index: 4;
  top:50px;
  left:0;
}
.hyperDescription{
  position: absolute;
  z-index: 3;
  bottom:0;
  left:0;

}
.hyperImage{

}
.list-knob{
  z-index: 100;
  position: fixed;
  top: -10px;
  right: -10px;
  opacity: .2;
}
.hyper-knob{
  z-index: 100;
  position: fixed;
  top: 55px;
  right: -10px;
  opacity: .2;
}
.create-knob{
  z-index: 100;
  position: fixed;
  top:22px;
  right:-11px;
  opacity: .2;
}
.knob-title{
  color:white;
  font-size: 10px;
}
.side-menu{
  position: fixed;
  top:50px;
  right: 100px;
  width:200px;
  height: 400px;

}
.side-menu-title{
  width: 100%;
  height: 100%;
}
.side-menu-search-container{
  width:100%;
  height: 50%;
}
.side-menu-category-list{
  width:50%;
  height: 50%;
  text-align: right;
}
.blank{
  display: none;
}
.side-menu-text-box{
  width:100%;
  height: 20%;
}
.side-menu-link{
  width: 100%;
  height: 20%;
}
.side-menu-category{
  width: 100%;
  height: 20%;
}
.category-table{
  width: 100%;
  height: 100%;
}
.loginPaper{
  height: 400px;
  width: 400px;

  margin: auto;

  text-align: 'center';
  display: 'flex';
  align-content: 'center';
}
.loginHome{
  background-image: url(http://www.space.com/images/i/000/023/368/original/mimas-tiny-saturn.jpg?interpolation=lanczos-none&downsize=*:1000);
}
.dashboardPaperContainer{
  display:flex;
  justify-content: space-around;
  background-image: url(http://www.azdeepskies.com/_Media/deconvolved_b33crop.jpeg);
  background-size: 100%;

}
.dashboardPaperL{
  height: 400px;
  width: 400px;
  

  display:inline;

}
.dashboardPaperR{
  height: 400px;
  width: 400px;

  display:inline;
}

.categoryPageContainer{
  height: 400px;
  background-image: url(http://wallpaperbeta.com/wallpaper_gray/gray_planet_surface_clouds_new_world_space_hd-wallpaper-36469.jpg);
  background-size: 100%;
}
